@font-face {
    font-family: Nunito;
    src: url(fonts/Nunito-VariableFont_wght.ttf);
}

/* meyer reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
/* 	font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* meyer reset */

:root {
    --navbar-color: #1D1D1F;
    --navbar-hover: #7C808C;
    --header-color: #939799;
    --box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
    --form-text-color: white
}

html,
body {
    height: 100%;
}

html * {
    font-family: Nunito;
}

body {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.3fr 5.5fr 0.5fr;
    overflow: auto;
}

header > h1 {
    font-size: 32px;
    padding: 0px 10px;
}

.nav-bar {
    grid-row: 1 / -1;
    min-width: 80px;
    background-color: var(--navbar-color);
    text-align: center;
    color: white;

    padding: 40px 10px 0px 10px;
    

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.nav-bar  * {
    background-color: inherit;
    border: none;
    color: white;

    padding: 0px;
    width: 100%;

    display: flex;
}

.nav-bar > ul > span:hover {
    background-color: var(--navbar-color);
}

.nav-bar > ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 10px;
}

.nav-bar > ul > span {
    padding: 0px;
    margin: 0px;


    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 20px;
}

.nav-bar > ul > span::after {
    content: "";
    display: inline-block;
    background-color: var(--navbar-hover);

    height: 1px;
    border: 1px solid var(--navbar-hover);
    margin-top: 10px;
    width: 80%;
    border-radius: 2px;
}

.nav-bar > ul > li {
    width: 100%;
    min-height: 40px;
    max-height: 50px;
}

.nav-bar > ul > li > button {
    padding: 4px 39px;
    height: inherit;
    
    display: flex;
    align-items: center;
}


.nav-bar > ul > li > button:hover {
    background-color: var(--navbar-hover);
    color: var(--navbar-color);
    border-radius: 8px;

    box-shadow: var(--box-shadow)
}

.nav-bar > .home-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
    gap: 10px;

    border: 1px solid var(--navbar-color);
    background-color: var(--navbar-color);

    font-weight: 600;
}

.nav-bar > .home-button::before {
    content: "";
    display: inline-block;

    width: 24px;
    height: 30px;

    background-image: url(img/home_FILL0_wght400_GRAD0_opsz48.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.nav-bar > .home-button:hover {
    background-color: var(--navbar-hover);
    color: var(--navbar-color);
    border-radius: 10px;
}


/* modals */

.project-modal,
.rename-modal,
.description-modal {
    position: fixed;
    justify-self: center;
    align-self: center;
    
    display: none;

    background-color: var(--navbar-color);
    border: 1px black solid;
    border-radius: 10px;
}

form * {
    color: var(--form-text-color);
}

.rename-modal > form,
.description-modal > form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}




.project-modal > form > button,
.rename-modal > form > button,
.description-modal > form > button {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: inherit;

    border: none;
}


.project-modal > form > label,
.rename-modal > form > label,
.description-modal > form > label{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


input,
select,
textarea {
    border-style: none;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 6px;

    background-color: inherit;   

}

input[type="date"] {
    color-scheme: dark;
}

*::placeholder {
    color: var(--header-color)
}

select {
    width: 35px;
}

label > *:hover {
    border: 1px solid rgb(90, 183, 214)
}

form > label > textarea {
    resize: none;
    height: 75px;
}

.rename-modal {
    height: 100px;
    width: 300px;
}

.project-modal {
    height: 350px;
    width: 350px;
    border-radius: 10px;
    z-index: 1;  
}

.project-modal > form {
    display: grid;
    box-sizing: border-box;

    grid-template-rows: 30px;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;

    padding: 10px;
    height: 100%;
}

.project-modal > form > .close-button {
    width: 30px;
    height: 30px;
    background-image: url(img/cancel_FILL0_wght300_GRAD0_opsz48.svg);

    justify-self: flex-end;



}

.project-modal > form > .close-button:hover {
    background-image: url(img/cancel_FILL1_wght300_GRAD0_opsz48.svg);
}


.description-modal {
    height: 300px;
    width: 300px;
}

.description-modal > form > .close {
    width: 30px;
    height: 30px;
    margin-left: 90%
}

/* end of modals,
   hero,
   project-div */

.hero {
    grid-row: 1 / -1;
    
    display: grid;
    grid-template-rows: 40px;
    grid-auto-flow: row;
    grid-auto-rows: 90px;
    gap: 10px;

    padding: 34px 0px 0px 0px;
}

.hero > .project-container {
    display: grid;
    gap:  10px;
}

.project-container h3,
.project-container p,
.project-container .header-div {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
}

.project-container > .header-div {
    height: 70px;
    font-size: 150%;

    justify-content: flex-start;
}

.project-container > .task-div {
    border-radius: 20px;

    max-height: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows:1fr;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;

    padding: 10px 10px;

    background-color: #F4F5F4;
}

.project-container .description {
    grid-column: 1 / 3;
}


.project-container .button-div {
    display: flex;
    align-items: center;
    gap: 5px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.hero > * {
    margin: 0px 20px;
}

.hero > .header-div {
    display: flex;
    gap: 2px;

    margin: 0px 26px;
}

.hero > .header-div > h3 {
    font-size: 24px;
    display: flex;
    align-items: center;

    margin: 0px 4px;
}

.hero > .add-project,
.add-task {
    height: 25px;
    padding: 0px 6px;
    border-radius: 14px;
    border: 0px solid white;
    background-color: white;

    font-weight: bold;

    display: flex;
    align-items: center;
}

.hero > .add-project::before,
.add-task::before {
    display: inline-block;
    content: "";
    color: black;
    background-image: url(img/add_FILL0_wght400_GRAD0_opsz48.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 25px;
    width: 25px;
}

.hero > .add-project:hover,
.add-task:hover {
    background-color: lightgrey;
    box-shadow: var(--box-shadow)
}

.hero > .project-div {
    border-radius: 20px;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    padding: 20px 0px;

    background-color: #F4F5F4
}

.project-div:hover,
.task-div:hover {
    background-color: lightgrey;
    box-shadow: var(--box-shadow)
}
.project-div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.project-div > div {
    grid-column: span 2;
}

.project-div > .text-div {
    justify-content: flex-start;
    padding: 0px 10px;
}

.project-div > .description-div {
    display: flex;
    justify-content: flex-start;
    padding: 0px 10px;
}

.project-div > div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.project-div > div:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 40px);
}

.project-div > .button-div > p {
    justify-self: end;
}

.project-div > div > button,
.task-div > .button-div > button{
    height: 30px;
    width: 30px;

    border-radius: 10px;
    border: none;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: inherit
}

.project-div > div > .rename,
.task-div > div > .rename-button {
    background-image: url(img/abc_FILL0_wght400_GRAD0_opsz48.svg);
}

.project-div > div > .description,
.task-div > div > .description-button {
    background-image: url(img/description_FILL0_wght400_GRAD0_opsz48.svg);
}

.project-div > div > .delete,
.task-div > div > .delete {
    background-image: url(img/delete_FILL0_wght300_GRAD0_opsz48.svg);
}

.project-div > div > .checkbox,
.task-div > div > .checkbox {
    background-color: rgb(218, 29, 29);
    border: none;
}

/* end of project-div,
   universal rules */

.project-div > div > button:hover,
.project-container > .task-div > .button-div > button:hover {
    border: 1px solid rgb(131, 131, 131);
    padding: 0px 4px;
}
