html,
body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5.5fr 0.5fr;
    overflow: auto;

}

header {
    grid-column: 2 / -1;
    min-height: 100px;
    background-color: #ABA9E9;
}

.nav-bar {
    grid-row: 1 / -1;
    min-width: 80px;
    background-color: #64638F;
    text-align: center;
}

.nav-bar > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav-modal,
.rename-modal {
    position: fixed;
    border: 1px black solid;
    justify-self: center;
    align-self: center;
    background-color: white;
}

.rename-modal {
    display: none;
    height: 100px;
    width: 300px;
}

.nav-modal {
    display: none;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    z-index: 1;  
}

.nav-modal > form,
.rename-modal > form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.nav-modal > form > label,
.rename-modal > form > label {
    display: flex;
    flex-direction: column;
}

.nav-modal > form > label > .invalid {
    border: 1px solid red;
}

.hero > .project-div {
    padding-left: 10px;
    border: 1px solid black;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-div > button {
    height: 30px;
    width: 30px;

    border-radius: 10px;
    border: 1px dashed black;
}

.project-div > button:hover {
    border: 2px solid rgb(131, 131, 131);
}

.project-div > .checkbox {
    background-color: rgb(255, 42, 42);
    border: none;
}

footer {
    grid-row: -2 / -1;
    grid-column: 2 / -1;

    min-height: 70px;
    background-color: #CBC9FF;
    border: none;
}
